.header{
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: white;
    z-index: 99;
    height: 110px;
    padding-top: 3px;
    overflow: hidden;
}
.header-top{
    display:flex;
    height: 55px;
    justify-content: space-between;
    top:0;
    left:0;
    right:0;
    margin-bottom: 15px;
}
.left{
    display: flex;
    align-items: center;
   
}
.hamburger-menu{
    height:24px;
    padding-left: 24px;
    padding-right:24px;
}
.yt-logo{
    height:20px;
}
.search{
    display:flex;
    flex:1;
    max-width: 630px;
    margin-left:70px;
    margin-right:35px;
    align-items: center; 
}
.searchbox{
    flex:1;
    height: 36px;
    border-radius: 18px 0px 0px 18px;
    font-size: 16px;
    border:bold;
    border-width: 1px ;
    box-shadow:inset 1px 2px 3px rgb(0,0,0,0.10);
    border-color: grey;
    
    width:0;
}
.search-button{
    height: 40px;
    width:60px;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 18px 18px 0px;
    border-color: grey;
    margin-left: -1;
    margin-right: 10px;
}
.search-icon{
    height: 25px;
    padding-top: 5px;
}
.voice-search-button{
    height:39px;
    width:40px;
    border-width: 1px;
    border-color: grey;
    border-radius: 20px;
    border: none; 
}
.voice-search-icon{
    width: 22px;
    padding-top: 4px;
    padding-left: 1px;
}
.right{
    display: flex;
    align-items: center;
}
.create-button{
    display: inline-block;
    width: 90px;
    height: 40px;
    border-radius: 18px;
    border: none;
    font-size: 15px;
}
.notification-button{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    border: none;
    background-color: white;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
}
.notification-icon{
    height:35px;
    padding-top: 1px;
}
.notification-number{
    position: absolute;
    top:4px;
    right:5px;
    background-color: red;
    height:15px;
    width: 17px;
    border-radius: 8px;
    font-size: 11px;
    color: white;
    padding-top: 2px;
}
.profile-button{
    height: 35px;
    width: 35px;
    border-radius:18px;
    margin-right: 20px;
    border: none;
}
.profile-pic{
    height: 35px;
    border-radius: 18px;
    margin-left: -6px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(215, 214, 214);
}
.categories-list{
  display:block ;
  width: 1000px;
  overflow: hidden;
  
}
.categories_selection{
    border-radius: 7px; 
    height:30px;
    align-items: center;
    margin-left:10px ;
    border: none;
    font-size: 15px; 
    padding-left: 12px;
    padding-right: 12px;
   
   
}
.categories_selection_ALL{
    border-radius: 7px; 
    height:30px;
    align-items: center;
    margin-left:10px ;
    border: none;
    font-size: 15px; 
    color: white;
    background-color: black;
    margin-left: 270px;
    padding-left: 12px;
    padding-right: 12px;
}
.search-button,.youtube-logo,.voice-search-button{
    position: relative;
}
.search-button .tool-tip{
    position: absolute;
    top: 35px;
    left: 45px;
    background-color: rgb(82, 78, 78);
    color: white;
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;
    z-index: 100;
}
.youtube-logo .tool-tip{
    position: absolute;
    top: 25px;
    left: 65px;
    background-color: rgb(82, 78, 78);
    color: white;
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;

}
.voice-search-button .tool-tip{
    position: absolute;
    top: 60px;
    left: -40px;
    background-color: rgb(135, 131, 131);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;
}
.notification-button .tool-tip{
    position: absolute;
    top: 60px;
    left: -17px;
    background-color: rgb(135, 131, 131);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tool-tip,.youtube-logo:hover .tool-tip,.voice-search-button:hover .tool-tip,.notification-button:hover .tool-tip{
    opacity: 1;
}
@media(max-width:450px)
{.header{
    position: fixed;
    top:0;
    right:0;
    left:0;
    background-color: white;
    z-index: 99;
    height: 110px;
    padding-top: 3px;
    overflow: hidden;
}
.header-top{
    display:flex;
    height: 55px;
    justify-content: space-between;
    top:0;
    left:0;
    right:0;
    margin-bottom: 15px;
}
.left{
    display: flex;
    align-items: center;
   
}
.hamburger-menu{
    height:24px;
    padding-left: 24px;
    padding-right:24px;
}
.yt-logo{
    height:20px;
}
.search{
    display:flex;
    justify-content: end;
  
    padding: none;
    margin-right: 0;
    
    
}
.searchbox{
    flex:1;
    height: 36px;
    border-radius: 18px 0px 0px 18px;
    font-size: 16px;
    border:bold;
    border-width: 1px ;
    box-shadow:inset 1px 2px 3px rgb(0,0,0,0.10);
    border-color: grey;
    display: none;
    
    width:0;
}
.search-button{
    height: 40px;
    width:40px;
   border-radius: 60px;
   background-color: white;
   border: none;
   
  
}
.search-icon{
    height: 25px;
    padding-top: 5px;
}
.voice-search-button{
    height:39px;
    width:40px;
    border-width: 1px;
    border-color: grey;
    border-radius: 20px;
    border: none; 
    display: none;
}
.voice-search-icon{
    width: 22px;
    padding-top: 4px;
    padding-left: 1px;
}
.right{
    display: flex;
    align-items: center;
    display: none;
}
.create-button{
    display: inline-block;
    width: 90px;
    height: 40px;
    border-radius: 18px;
    border: none;
    font-size: 15px;
    
}
.notification-button{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    border: none;
    background-color: white;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
}
.notification-icon{
    height:35px;
    padding-top: 1px;
}
.notification-number{
    position: absolute;
    top:4px;
    right:5px;
    background-color: red;
    height:15px;
    width: 17px;
    border-radius: 8px;
    font-size: 11px;
    color: white;
    padding-top: 2px;
}
.profile-button{
    height: 35px;
    width: 35px;
    border-radius:18px;
    margin-right: 20px;
    border: none;
}
.profile-pic{
    height: 35px;
    border-radius: 18px;
    margin-left: -6px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(215, 214, 214);
}
.categories-list{
  display:block ;
  width: 1000px;
  overflow: hidden;


 
  
}
.categories_selection{
    border-radius: 7px; 
    height:30px;
    align-items: center;
    margin-left:10px ;
    border: none;
    font-size: 15px; 
    padding-left: 12px;
    padding-right: 12px;
   
   
}
.categories_selection_ALL{
    border-radius: 7px; 
    height:30px;
    align-items: center;
    margin-left:10px ;
    border: none;
    font-size: 15px; 
    color: white;
    background-color: black;
   
    padding-left: 12px;
    padding-right: 12px;
}
.search-button,.youtube-logo,.voice-search-button{
    position: relative;
}
.search-button .tool-tip{
    position: absolute;
    top: 35px;
    left: 45px;
    background-color: rgb(82, 78, 78);
    color: white;
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;
    z-index: 100;
}
.youtube-logo .tool-tip{
    position: absolute;
    top: 25px;
    left: 65px;
    background-color: rgb(82, 78, 78);
    color: white;
    font-size: 12px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;

}
.voice-search-button .tool-tip{
    position: absolute;
    top: 60px;
    left: -40px;
    background-color: rgb(135, 131, 131);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;
}
.notification-button .tool-tip{
    position: absolute;
    top: 60px;
    left: -17px;
    background-color: rgb(135, 131, 131);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    opacity: 0;
    transition:opacity 0.2s ;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tool-tip,.youtube-logo:hover .tool-tip,.voice-search-button:hover .tool-tip,.notification-button:hover .tool-tip{
    opacity: 1;
}}
